body {
    background-color: #0d0d0d;
    color: #ffffff;
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
}

.carousel-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    padding: 0;
    overflow: hidden;
}

.carousel-card {
    display: none;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    padding: 40px;
    box-sizing: border-box;
    background-color: rgba(255, 255, 255, 0.03);
}

.carousel-card.visible {
    display: flex;
}

@import url('https://fonts.googleapis.com/css2?family=Creepster&display=swap'); /* Esempio font horror */

@font-face {
    font-family: 'Lazy Dog';
    src: url('../Font/lazy_dog.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

/* Nome del fantasma con sfondo adattabile */
.ghost-name {
  width: 100%;
  height: 40vh; /* Altezza responsiva: 40% dell’altezza della finestra */
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 5vw; /* Dimensione del testo responsiva */
  font-family: 'Lazy Dog', cursive; /* Font personalizzato */
  color: white;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-blend-mode: overlay;
  background-color: rgba(0, 0, 0, 0.4); /* overlay scuro per leggibilità */
  text-shadow: 2px 2px 5px black;
  border-radius: 12px;
  margin-bottom: 20px;
}

  
  

.ghost-description {
    font-size: 20px;
    line-height: 1.6;
    color: #ccc;
}
