@font-face {
    font-family: 'October Crow';
    src: url('Font/october_crow.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Lazy Dog';
    src: url('../Font/lazy_dog.ttf') format('truetype');
}

@font-face {
    font-family: 'Patrick Hand';
    src: url('../Font/patrick_hand.ttf') format('truetype');
}

body {
    background-color: #111;
    color: #eee;   
    margin: 0;
    padding: 0;
    font-family: 'Lazy Dog', sans-serif;
}

header {
    background-color: #222;
    color: #ffffff;
    padding: 20px;
    font-size: 50px;
    text-align: center;
    letter-spacing: 3px;
    font-family: 'October Crow', sans-serif;
}

nav ul {
    list-style: none;
    background-color: #333;
    padding: 10px;
    text-align: center;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    color: #8be;
    text-decoration: none;
    font-weight: bold;
}

nav ul li a:hover {
    color: #fff;
    text-shadow: 0 0 10px #8be;
}

footer {
    background-color: #222;
    text-align: center;
    padding: 15px;
    margin-top: 30px;
    color: #aaa;
    font-size: 14px
}